// 顏色
$color_primary:#00807E;
$color_secondary:#64C3BF;
$color_white:#fff;
$color_shadow:#DEE2E6;
$color_txgray:#818A91;
$color_tbgray:#FAFAFA;
$color_bggray:#F7F7F7;


// font-weight
$light: 300;
$reqular: 400;
$medium: 500;
$bold: 700;
$black: 900;
