/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto','Noto Sans TC', sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  text-align: center;
  display: inline-block; }

img {
  vertical-align: middle;
  width: 100%; }

h1 {
  font-size: 24px;
  font-weight: 700; }

label {
  color: #00807E;
  font-size: 16px;
  font-weight: 500; }

h2 {
  font-size: 24px;
  font-weight: 500; }

h3 {
  font-size: 32px;
  font-weight: 500; }

.addinput {
  max-width: 920px;
  margin: 120px auto 100px auto;
  padding: 60px 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 2px 6px #DEE2E6;
          box-shadow: 0px 2px 6px #DEE2E6;
  border-radius: 12px; }
  @media (max-width: 768px) {
    .addinput {
      max-width: 720px;
      -webkit-box-shadow: none;
              box-shadow: none;
      margin: 0 auto; } }
  @media (max-width: 576px) {
    .addinput {
      max-width: 500px;
      padding: 60px 45px; } }

@media (max-width: 768px) {
  .padnone {
    display: none; } }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 56px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 375px; } }

.hero, .addform {
  width: 50%; }
  @media (max-width: 768px) {
    .hero, .addform {
      width: 100%; } }
  @media (max-width: 576px) {
    .hero, .addform {
      width: 100%; } }

.formitem {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .formitem:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
    @media (max-width: 576px) {
      .formitem:last-child {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.top label {
  vertical-align: top; }

.title {
  color: #00807E;
  border-bottom: 3px solid #00807E;
  margin-bottom: 32px; }

input, select, option, textarea {
  background: #FAFAFA;
  width: 255px;
  border: none;
  padding: 8px 12px;
  border-bottom: 1px solid #00807E; }
  @media (max-width: 576px) {
    input, select, option, textarea {
      width: 100%; } }

.btn {
  background: #00807E;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  cursor: pointer;
  width: initial;
  height: initial;
  border-radius: 5px; }
  .btn:hover {
    background: #64C3BF; }

.output {
  background: #F7F7F7; }

.search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 52px; }
  .search-area select {
    background: #fff;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    margin-right: 30px; }
  .search-area p {
    color: #818A91; }

.result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% /3 - 20px);
  -webkit-box-shadow: 0px 2px 6px #DEE2E6;
          box-shadow: 0px 2px 6px #DEE2E6;
  margin-bottom: 38px;
  border-radius: 4px; }
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 15px); } }
  @media (max-width: 576px) {
    .card {
      width: 100%; } }

.cover {
  position: relative; }
  .cover p {
    position: absolute; }
  .cover img {
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    border-radius: 4px 4px 0px 0px; }
    .cover img:hover {
      -webkit-transform: scale(1.15);
          -ms-transform: scale(1.15);
              transform: scale(1.15); }
  .cover a {
    overflow: hidden; }

.area {
  background: #64C3BF;
  color: #fff;
  font-size: 20px;
  padding: 8px 20px;
  top: -12px;
  z-index: 1;
  border-radius: 0px 4px 4px 0px; }

.score {
  background: #00807E;
  color: #fff;
  font-size: 16px;
  padding: 5px 8px;
  bottom: -16px;
  z-index: 1;
  border-radius: 0px 4px 4px 0px; }

.purchase {
  color: #00807E;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .purchase span {
    font-size: 16px;
    vertical-align: middle; }

.depiction {
  height: 166px; }
  .depiction h2 {
    color: #00807E;
    border-bottom: 2px solid #00807E;
    margin-bottom: 16px; }
  .depiction p {
    color: #818A91; }

.content {
  padding: 20px; }

/*# sourceMappingURL=all.css.map */
